// Europa light
@font-face {
  font-family: "Europa";
  src: url("./europa-light.ttf");
  font-weight: 300;
}

// Europa regular
@font-face {
  font-family: "Europa";
  src: url("./europa-regular.ttf");
  font-weight: 400;
}

// Europa bold
@font-face {
  font-family: "Europa";
  src: url("./europa-bold.ttf");
  font-weight: 700;
}

// Rift soft regular
@font-face {
  font-family: "Rift Soft";
  src: url("./rift-soft-regular.otf");
  font-weight: 400;
}

// Rift soft medium
@font-face {
  font-family: "Rift Soft";
  src: url("./rift-soft-medium.otf");
  font-weight: 500;
}
